body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
}

.container {
  height: 4rem;
}

.container input {
  height: 100%;
  border: none;
  font-size: 2rem;
}

.container button {
  height: 100%;
  border: none;
  font-size: 2rem;
}
